<div class="container pt-3">

    <div class="vh-10"></div>

    <h2 class="text-center">Cadastre-se na plataforma</h2>

    <form>

        <div class="row">
            <div class="col flex-center">

                <div class="form-group w-75">
                    <label for="name">Nome Completo</label>
                    <input type="text" id="name" class="form-control">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col flex-center">

                <div class="form-group w-75">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" class="form-control">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col flex-center">

                <div class="form-group w-75">
                    <label for="password">Senha</label>
                    <input type="password" id="password" class="form-control">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col flex-center">

                <div class="form-group w-75">
                    <label for="password-confirm">Confirmação de senha</label>
                    <input type="password" id="password-confirm" class="form-control">
                </div>

            </div>
        </div>

        <div class="row text-center pt-2">
            <div class="col">
                <button class="btn btn-primary w-75" type="submit">Cadastrar</button>
            </div>
        </div>

    </form>
</div>